@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUILight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Engravers Gothic BT";
  src: url("../fonts/engravers-gothic-bt.woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*width: 1280px;*/
  /*background-color: lightpink;*/
  /*background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;*/
  /*background-size: 1280px auto;*/
}

/*div,
article,
ul,
img {
  outline: 1px dashed orangered;
}

h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #888888;
}*/

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /*justify-content: flex-end;*/
  align-items: center;
  /*height: 720px;*/ /* убрать потом */
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.heading {
  position: relative;
  z-index: 3;
  margin-top: 5.859375%; /* 150/2560 */
  margin-bottom: 25%; /* 640/2560 */
  font-family: "Segoe UI", "Arial", sans-serif;
  font-weight: 300;
  font-size: 5.142857142857143em; /* 72/14 */
  line-height: 1.722222222222222em; /*124/72*/
  color: #ffffff;
  text-align: center;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.44);
  text-transform: uppercase;
  letter-spacing: 0.135em;
}

.more-info-btn {
  position: absolute;
  z-index: 999;
  right: 47px;
  top: 32px;
  display: block;
  width: 46px;
  height: 46px;
  background: url("../img/more-info-icon.png") no-repeat;
}

@keyframes clouds-top {
  from {
    transform: translateX(-36.38302915382792%);
  }

  to {
    transform: translateX(60.67788575491823%);
  }
}

.clouds-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 164.8046875%;
  height: auto;
  animation-name: clouds-top;
  animation-duration: 180s;
  animation-fill-mode: both; /* почему-то все равно начинается с 0 */
  animation-timing-function: linear;
}

@keyframes clouds-top-copy {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(60.67788575491823%);
  }
}

.clouds-top-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 164.8046875%;
  height: auto;
  animation-name: clouds-top-copy;
  animation-duration: 212s;
  animation-delay: 175s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-middle {
  from {
    transform: translateX(-21.92962542565267%);
  }

  to {
    transform: translateX(-100%);
  }
}

.clouds-middle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 172.0703125%; /* 4405/2560*/
  height: auto;
  animation-name: clouds-middle;
  animation-duration: 120s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-middle-copy {
  from {
    transform: translateX(58.11577752553916%);
  }

  to {
    transform: translateX(-100%);
  }
}

.clouds-middle-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 172.0703125%; /* 4405/2560*/
  height: auto;
  animation-name: clouds-middle-copy;
  animation-duration: 155s;
  animation-delay: 115s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-bottom {
  from {
    transform: translateX(-13.75448028673835%);
  }

  to {
    transform: translateX(57.34767025089606%);
  }
}

.clouds-bottom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 172.0703125%; /* 4405/2560*/
  height: auto;
  animation-name: clouds-bottom;
  animation-duration: 60s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-bottom-copy {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(57.34767025089606%);
  }
}

.clouds-bottom-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 172.0703125%; /* 4405/2560*/
  height: auto;
  animation-name: clouds-bottom-copy;
  animation-duration: 133s;
  animation-delay: 55s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.sakura {
  position: absolute;
  /*top: 300px;*/
  /*top: 11.62790697674419%;*/
  top: 0;
  /*top: 150px;*/
  left: 0;
  z-index: 3;
  /*width: 1023px;*/
  width: 45.234375%; /* 1158/2560 */
  /*height: 852px;*/
  height: auto;
}

.monk {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: auto;
  /*height: 100%;*/
}

.logo {
  position: relative;
  z-index: 5;
  width: 12.890625%;
  /*width: 330px;*/
  height: auto;
}

.sakura-bottom {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: auto;
}

.contacts {
  position: absolute;
  top: 100%;
  z-index: 6;
  /*width: 0,2609375%;*/ /* 668/2560 */
  /*margin-left: -13.046875%; */ /* 334/2560 */
  padding: 10px 15px 20px 5px;
  box-sizing: border-box;
  font-family: "Engravers Gothic BT", "Arial", sans-serif;
  font-size: 60px;
  line-height: 101px;
  color: #ffffff;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.41);
  background-image: url("../img/contacts-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts p {
  position: relative;
  margin: 0;
  vertical-align: middle;
}

.contacts .phone {
  margin-bottom: 5px;
  padding-left: 111px;
  letter-spacing: -0.08em;
}

.phone::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 7;
  width: 68px;
  height: 68px;
  background: url("../img/phone-icon.png") no-repeat;
  background-size: contain;
}

.skype {
  padding-left: 130px;
  letter-spacing: 0.06em;
}

.skype::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 7;
  width: 68px;
  height: 68px;
  background: url("../img/skype-icon.png") no-repeat;
  background-size: contain;
}

.petals1 {
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 99;
  width: 31.25%; /*800/2560*/
  height: auto;
  animation-name: petals1-x, petals1-rotate;
  animation-duration: 10s, 10s;
  animation-fill-mode: both, both;
  animation-timing-function: ease, /*cubic-bezier(0.86, 0, 0.07, 1)*/ease;
}

@keyframes petals1-x {
  0% {
    left: -31.25%;
  }

  66% {
    /*left: 40%;*/
    top: 20%;
  }

  100% {
    left: 100%; /* 2560/800 */
    top: 40%;
  }
}

@keyframes petals1-rotate {
/*  33% {
    transform: rotate(-30deg);
  }

  55% {
    transform: rotate(-180deg);
  }*/

  100% {
    transform: rotate(-180deg);
  }
}

.petals2 {
  position: absolute;
  left: 0;
  top: 30%;
  z-index: 99;
  width: 10.7421875%; /*275/2560*/
  height: auto;
  animation-name: petals2-x, petals2-rotate;
  animation-duration: 10s, 10s;
  animation-fill-mode: both, both;
  animation-timing-function: ease, ease;

}

@keyframes petals2-x {
  0% {
    left: -10.7421875%;
  }

  66% {
    /*left: 45%;*/
    top: 25%;
  }

  100% {
    left: 100%; /* 2560/800 */
    top: 30%;
  }
}

@keyframes petals2-rotate {
/*  33% {
    transform: rotate(-30deg);
  }

  55% {
    transform: rotate(-180deg);
  }*/

  100% {
    transform: rotate(-240deg);
  }
}






@media screen and (max-width: 1920px) {
  .heading {
    font-size: 52px;
  }

  .contacts {
    font-size: 45px;
    line-height: 75px;
  }

  .contacts .phone {
    padding-left: 83px;
  }

  .phone::before,
  .skype::before {
    width: 51px;
    height: 51px;
  }

  .skype {
    padding-left: 97px;
  }
}

@media screen and (max-width: 1280px) {
  .heading {
    font-size: 36px;
  }

  .contacts {
    font-size: 30px;
    line-height: 50px;
  }

  .contacts .phone {
    padding-left: 55px;
  }

  .phone::before,
  .skype::before {
    width: 34px;
    height: 34px;
  }

  .skype {
    padding-left: 65px;
  }
}
