@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/SegoeUILight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Engravers Gothic BT";
  src: url("../fonts/engravers-gothic-bt.woff");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

/*div,
article,
ul,
img {
  outline: 1px dashed orangered;
}

h2,
h3,
b,
p,
a,
li {
  outline: 1px dashed #888888;
}*/

.main-wrapper {
  width: 100%;
}

.main-inner {
  position: relative;
  height: 0;
  padding-top: 56.25%;
  border: none;
  box-sizing: content-box;
}

.main-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  /*background-size: 100% auto;*/
  background-size: contain;
  overflow-x: hidden;
}

.heading {
  position: relative;
  z-index: 3;
  margin-top: 5.859375%; /* 150/2560 */
  margin-bottom: auto;
  font-family: "Segoe UI", "Arial", sans-serif;
  font-weight: 300;
  font-size: 2.8125vw; /*72*100/2560*/
  line-height: 1.722222222222222em; /*124/72*/
  color: #ffffff;
  text-align: center;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.44);
  text-transform: uppercase;
  letter-spacing: 0.135em;
}

.more-info-btn {
  position: absolute;
  z-index: 9999;
  right: 47px;
  top: 32px;
  display: block;
  width: 1.796875%; /* 46/2560 */
  height: 46px;
  background: url("../img/more-info-icon.png") left top no-repeat;
  background-size: contain;
}

@keyframes clouds-top {
  from {
    transform: translateX(-36.38302915382792%);
  }

  to {
    transform: translateX(60.67788575491823%);
  }
}

.clouds-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 164.8046875%;
  height: 100%;
  background-image: url("../img/clouds-top2.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  animation-name: clouds-top;
  animation-duration: 180s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-top-copy {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(60.67788575491823%);
  }
}

.clouds-top-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 164.8046875%;
  height: 100%;
  background-image: url("../img/clouds-top2.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  animation-name: clouds-top-copy;
  animation-duration: 212s;
  animation-delay: 175s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-middle {
  from {
    transform: translateX(-21.92962542565267%);
  }

  to {
    transform: translateX(-100%);
  }
}

.clouds-middle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 172.0703125%; /* 4405/2560*/
  height: 100%;
  background-image: url("../img/clouds-middle4.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  animation-name: clouds-middle;
  animation-duration: 120s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-middle-copy {
  from {
    transform: translateX(58.11577752553916%);
  }

  to {
    transform: translateX(-100%);
  }
}

.clouds-middle-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 172.0703125%; /* 4405/2560*/
  height: 100%;
  background-image: url("../img/clouds-middle4.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  animation-name: clouds-middle-copy;
  animation-duration: 155s;
  animation-delay: 115s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-bottom {
  from {
    transform: translateX(-13.75448028673835%);
  }

  to {
    transform: translateX(57.34767025089606%);
  }
}

.clouds-bottom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 172.0703125%; /* 4405/2560*/
  height: 100%;
  background-image: url("../img/clouds-bottom.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  animation-name: clouds-bottom;
  animation-duration: 60s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

@keyframes clouds-bottom-copy {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(57.34767025089606%);
  }
}

.clouds-bottom-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 172.0703125%; /* 4405/2560*/
  height: 100%;
  background-image: url("../img/clouds-bottom.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  animation-name: clouds-bottom-copy;
  animation-duration: 133s;
  animation-delay: 55s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.sakura {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 45.234375%; /* 1158/2560 */
  height: 100%;
  background-image: url("../img/sakura3.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.monk {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-image: url("../img/monk.png");
  background-size: contain;
}

.sakura-bottom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  /*width: 100%;
  height: auto;*/
  background-image: url("../img/footer-background.png");
  background-size: contain;
}

.contacts {
  position: relative;
  z-index: 6;
  width: 26.09375%; /* 668/2560 */
  padding: 10px 15px 20px 5px;
  box-sizing: border-box;
  font-family: "Engravers Gothic BT", "Arial", sans-serif;
  font-size: 2.34375vw; /*60*100/2560*/
  line-height: 1.683333333333333;
  color: #ffffff;
  text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.41);
  background-image: url("../img/contacts-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts p {
  position: relative;
  margin: 0;
  vertical-align: middle;
}

.contacts .phone {
  margin-bottom: 5px;
  /*padding-left: 111px;*/
  letter-spacing: -0.08em;
  text-align: right;
}

.phone::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 7;
  width: 68px;
  width: 10.17964071856287%; /* 68/668 */
  height: 68px;
  height: 100%;
  background: url("../img/phone-icon.png") no-repeat;
  background-size: contain;
}

.skype {
  /*padding-left: 130px;*/
  letter-spacing: 0.06em;
  text-align: right;
}

.skype::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 7;
  width: 68px;
  width: 10.17964071856287%; /* 68/668 */
  height: 68px;
  height: 100%;
  background: url("../img/skype-icon.png") no-repeat;
  background-size: contain;
}

.petals1 {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 99;
  width: 31.25%; /*800/2560*/
  width: 25%
  height: 100%;
  height: auto;
  animation-name: petals1-x, petals1-rotate;
  animation-duration: 100s, 100s;
  animation-delay: 8s, 8s;
  animation-fill-mode: both, both;
  animation-timing-function: ease, ease;
  animation-iteration-count: infinite;
}

@keyframes petals1-x {
  0% {
    left: -31.25%;
  }

  2.5% {
    top: 40%;
  }

  4% {
    /*left: 40%;*/
    top: 10%;
  }

  10% {
    left: 100%; /* 2560/800 */
    top: 40%;
  }

  100% {
    left: 150%;
    top: 40%;
  }
}

@keyframes petals1-rotate {
  10% {
    transform: rotate(-240deg);
  }

  100% {
    transform: rotate(-240deg);
  }
}

.petals1copy {
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 99;
  width: 31.25%; /*800/2560*/
  width: 22%;
  height: 100%;
  height: auto;
  /*background-image: url("../img/petals1.png");
  background-position: */
  animation-name: petals-copy-x, petals-copy-rotate;
  animation-duration: 100s, 100s;
  animation-delay: 8.25s, 8.25s;
  animation-fill-mode: both, both;
  /*animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715), cubic-bezier(0.86, 0, 0.07, 1);*/
  animation-timing-function: ease, ease;
  animation-iteration-count: infinite;
}

@keyframes petals-copy-x {
  0% {
    left: -31.25%;
  }

  2.5% {
    top: 45%;
  }

  4% {
    /*left: 40%;*/
    top: 25%;
  }

  10% {
    left: 100%; /* 2560/800 */
    top: 40%;
  }

  100% {
    left: 150%;
    top: 40%;
  }
}

@keyframes petals-copy-rotate {
  0% {
    transform: rotate(-90deg);
  }

  10% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.petals2 {
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 99;
  width: 10.7421875%; /*275/2560*/
  height: auto;
  animation-name: petals2-x, petals2-rotate;
  animation-duration: 100s, 100s;
  animation-delay: 8.5s, 8.5s;
  animation-fill-mode: both, both;
  animation-timing-function: ease, ease;
  animation-iteration-count: infinite;
}

@keyframes petals2-x {
  0% {
    left: -10.7421875%;
  }

  2.5% {
    top: 35%;
  }

  4% {
    /*left: 45%;*/
    top: 10%;
  }

  10% {
    left: 110%; /* 2560/800 */
    top: 30%;
  }

  100% {
    left: 150%;
    top: 30%;
  }
}

@keyframes petals2-rotate {
  10% {
    transform: rotate(-450deg);
  }

  100% {
    transform: rotate(-450deg);
  }
}

.petals2copy {
  position: absolute;
  left: 0;
  top: 40%;
  z-index: 99;
  width: 10.7421875%; /*275/2560*/
  height: auto;
  animation-name: petals2copy-x, petals2copy-rotate;
  animation-duration: 100s, 100s;
  animation-delay: 8.75s, 8.75s;
  animation-fill-mode: both, both;
  animation-timing-function: ease, ease;
  animation-iteration-count: infinite;
}

@keyframes petals2copy-x {
  0% {
    left: -20%;
  }

  2.5% {
    top: 45%;
  }

  4% {
    top: 10%;
  }

  10% {
    left: 110%;
    top: 30%;
  }

  100% {
    left: 150%;
    top: 30%;
  }
}

@keyframes petals2copy-rotate {
  0% {
    transform: rotate(-90deg);
  }

  10% {
    transform: rotate(-315deg);
  }

  100% {
    transform: rotate(-315deg);
  }
}

.info-modal-wrap {
  width: 846px;
  /*width: 33.046875%;*/ /* 846/2560 */
  margin-top: 26px;
  margin-right: 38px;
}

.info-modal {
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.86);
  border: none;
}

.modal-body {
  /*padding: 0;*/
}

.modal-content {
  box-shadow: none;
}

.modal-backdrop {
  background-color: transparent;
}

.modal-info-text {
  margin-top: 0;
  margin-bottom: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.2;
}

.italic {
  font-style: italic;
}

@media screen and (max-width: 1920px) {
  .skype {
    padding-right: 25px;
  }
}

@media screen and (max-width: 1280px) {
  .more-info-btn {
    width: 23px;
    height: 23px;
  }

  .skype {
    padding-right: 17px;
  }
}

@media screen and (max-width: 1150px) {
  .phone::before {
    top: 10px;
    left: 5px;
  }

  .skype::before {
    top: 10px;
    left: 5px;
  }
}

@media screen and (max-width: 900px) {
  .main-inner {
    height: 100vh;
    padding-top: 0;
    border: none;
    box-sizing: content-box;
  }

  .main-container {
    background-position: center top;
    background-size: auto 100%;
  }

  .contacts {
    width: 235px;
    font-size: 21px;
  }

  .skype::before {
    top: 8px;
    left: 5px;
  }

  .sakura {
    background-position: left center;
    background-size: contain;
  }

  .monk {
    background-position: center center;
    background-size: auto 100%;
  }

  .sakura-bottom {
    background-position: center bottom;
    background-size: auto 100%;
  }

  .info-modal-wrap {
    width: 90%;
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .more-info-btn {
    top: 15px;
    right: 15px;
  }
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 1em;
  }
}
